html {
    background-color: brown;
}

.wrapper {
    text-align: center;

}

ul {
    list-style-type: none;
}

h1 {
     color: yellowgreen;
            
    }


img {
    width: 400px;
    
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: deeppink;
    padding: 50px;
    border: solid black 2px;
    
}


#spanID {
    font-size: 18px;
    margin: 50px;
    
}